:root{
    --primary-color: #702283;
    --secondary-color: #c7d540;
    --tertiary-color: #d3d3d3;
    --cyan: #17a2b8;
    --danger: #dc3545;
}

*{
    box-sizing: border-box;
}
body{
    background: var(--cyan);
}
ul{
    padding: 5px;
}
li{
    list-style: none;
    margin: 5px;
    padding: 2px;
}
nav img {
    width: 40px;
}
.nav-item {
    padding: 0;
    margin: 0;
}
.navbar-collapse {
    text-align: end;
    flex-grow: 0;
}
.nav-link {
    font-size: 1.2rem;
    color: black;
    transition: color 250ms ease-out;
    padding-top: 0;
    padding-bottom: 0;
}
.navbar-brand {
    font-size: 1.3rem;
    transition: color 250ms ease-out;
}
.nav-link:hover, .navbar .navbar-brand:hover {
    color: #0069d9;
}
.container{
    display: block;
    width: 40%;
    min-width: 150px;
    max-width: 600px;
    font-size: 18px;
    margin: auto;
}
.list--item{
    padding: 10px;
    width: 100%;
    text-align: left;
}
.li-header{
    font-size: 1.17em;
    font-weight: 700;
}
.pokebutton, .btn-primary{
    border: 1px solid #fff;
    text-transform: capitalize;
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
}

@media all and (min-width: 350px) {
    .container {
        font-size: 20px;
    }
}
@media all and (min-width: 650px) {
    .container {
        font-size: 22px;
    }
}
@media all and (min-width: 1000px) {
    .container {
        font-size: 24px;
    }
}
/*Modal styling*/
#show-dialog {
    float: right;
    margin: 15px;
}

.modal-close {
    float: right;
    -webkit-appearance: none;
    border: 0;
    background: none;
    color: var(--primary-color);
    text-decoration: underline;
}

.modal-content {
    background: var(--cyan);
}
.modal-header {
    background: var(--danger);
}
.modal-title {
    text-transform: capitalize;
}
.modal p {
    margin-bottom: 0;
}
.modal button {
    margin: 10px 10px 0 0;
}
.modal img {
    display: block;
    margin: auto;
    width: 35%;
    height: auto;
}

.contact {
    margin-top: 3.8rem;
    margin-bottom: 1rem;
}
.contact p {
    margin: 0;
    font-size: 1rem;
}
.contact a {
    color: var(--primary-color);
}
#contact-form {
    font-size: 1rem;
    margin-top: 1rem;
}
.form-group:last-of-type {
    margin-bottom: 0rem;
}
.required-input {
    font-size: 0.8rem !important;
    font-style: italic;
    margin: 0.5rem 0 !important;
}
footer {
    margin: 1rem 0;
    border-top: 2px solid var(--danger);
}
.footer-content {
    margin-top: 1rem;
}
/*form validation UI pattern styling*/
.input-wrapper {
  margin-bottom: 10px;
}
label {
  display: inline-block;
  min-width: 75px;
}
.error-message {
  color: var(--danger);
  font-size: 0.8em;
  font-weight: bolder;
}
